body {
    background-image: url("../images/Typewriter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.text{
    margin: 0 auto;
    justify-content: center;
    width: 60%;
}

.line1 {
    color: black;
    font-family: "wausau", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms infinite;
}

.line2 {
    color: black;
    font-family: "wausau", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 5s 1 normal both, blinkTextCursor 500ms infinite;
}

.line3 {
    color: black;
    font-family: "wausau", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 9s 1 normal both, blinkTextCursor 500ms infinite;
}

.line4 {
    color: black;
    font-family: "wausau", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 13s 1 normal both, blinkTextCursor 500ms infinite;
}


.line5 {
    color: black;
    font-family: "wausau", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 17s 1 normal both, blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    } 
}