body {
    text-align: center;
}

h1 {
    color: rgb(6, 184, 160);
}


/*Table*/

table,
td,
tr {
    border: solid black 1px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}


/*Nav Bar*/

.myNav {
    background-color: rgb(255, 255, 221);
    margin-bottom: 20px;
}

nav li {
    padding: 5px;
    font-size: larger;
}


/*Text*/

p,
.normal li {
    font-family: rig-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*Footer*/

footer {
    padding: 20px;
}

footer div {
    color: white;
}

footer a,
footer a:hover {
    color: white;
}

footer col {
    margin: 10px;
}

footer button {
    margin: 10px;
}


/*Images+Videos*/

img,
video {
    margin: 10px;
}

.myNav img {
    margin: 0px;
}